@use "../sass/variables";
@use "../sass/mixins";

.main {
  @include mixins.mq(large) {
    grid-column: 2/-1;
  }
  &__task {
    &-list {
      display: unset;
      @include mixins.mq(large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
      }
    }
    &-item {
      border-radius: 1.2rem;
      padding-top: 2.375rem;
      @include mixins.mq(large) {
        padding-top: 2.8125rem;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
        @include mixins.mq(large) {
          margin-bottom: 0;
        }
      }
      &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        align-items: center;
        grid-row-gap: 1rem;
        padding: 1.75rem 1rem;
        background-color: variables.$color-card-bg;
        border-radius: 1.2rem;
        overflow: hidden;

        @include mixins.mq(large) {
          grid-template-rows: repeat(3, minmax(min-content, max-content));
          padding: 1.8rem 1.85rem;
        }
      }
      &.work {
        background-color: variables.$color-work;
        background-image: url("../assets/icon-work.svg");
        background-repeat: no-repeat;
        background-position: top -0.5rem right 1rem;
      }
      &.play {
        background-color: variables.$color-play;
        background-image: url("../assets/icon-play.svg");
        background-repeat: no-repeat;
        background-position: top -0.5rem right 1rem;
      }
      &.study {
        background-color: variables.$color-study;
        background-image: url("../assets/icon-study.svg");
        background-repeat: no-repeat;
        background-position: top -0.5rem right 1rem;
      }
      &.exercise {
        background-color: variables.$color-exercise;
        background-image: url("../assets/icon-exercise.svg");
        background-repeat: no-repeat;
        background-position: top right 1rem;
      }
      &.social {
        background-color: variables.$color-social;
        background-image: url("../assets/icon-social.svg");
        background-repeat: no-repeat;
        background-position: top -0.5rem right 1rem;
      }
      &.selfcare {
        background-color: variables.$color-selfcare;
        background-image: url("../assets/icon-self-care.svg");
        background-repeat: no-repeat;
        background-position: top -0.5rem right 1rem;
      }
    }
    &-title {
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: 1.125rem;
      font-weight: 500;
    }
    &-dot {
      grid-row: 1/2;
      grid-column: 2/-1;
      justify-self: end;
    }
    &-current {
      grid-row: 2/-1;
      grid-column: 1/2;
      font-size: 2rem;
      @include mixins.mq(large) {
        grid-row: 2/3;
        grid-column: 1/-1;
        font-size: 3.5rem;
      }
    }
    &-previous {
      grid-row: 2/-1;
      grid-column: 2/-1;
      color: variables.$color-card-text;
      justify-self: end;
      font-size: 1rem;
      @include mixins.mq(large) {
        grid-row: 3/-1;
        grid-column: 1/-1;
        justify-self: start;
      }
    }
  }
}
